<div class="contact-list-container" fxLayout='row'>
   
  <div fxLayout='column' fxLayoutGap="5px" fxLayoutAlign="space-around stretch">
    <mat-card *ngFor="let contact of contacts" fxLayout="row">
      <div class="info" fxFlex='30%'>
      <mat-card-header>
        <mat-card-title>{{contact.firstName}}</mat-card-title>
        <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <label>Full Name</label> <span>{{contact.fullName}}</span>
      </mat-card-content>
      <mat-card-content>
        <label>Phone</label> <span>{{contact.phone}}</span> 
      </mat-card-content>
    </div>
    <img fxFlex fxFlex='20%' height="100px" fxFlexOffset="50%" mat-card-image src="https://cdn3.iconfinder.com/data/icons/toolbar-people/512/user_man_male_profile_account_person_people-512.png" alt="Photo of contact">
    
    </mat-card>
  
  
  </div>
  
  
</div>